<div class="login-container">
  <img src="assets/login.jpg" class="background-img" />

  <div class="form-overlay">
    <form [formGroup]="userForm">
      <h2>Giriş Yap</h2>

      <input type="email" formControlName="email" placeholder="E-posta"/>
      <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid">
        <small *ngIf="userForm.get('email')?.errors?.['required']">Email boş olamaz</small>
        <small *ngIf="userForm.get('email')?.errors?.['email']">Geçerli bir email giriniz</small>
      </div>

      <input type="password" formControlName="password" placeholder="Şifre"/>
      <div *ngIf="userForm.get('password')?.touched && userForm.get('password')?.invalid">
        <small *ngIf="userForm.get('password')?.errors?.['required']">Şifre boş olamaz</small>
        <small *ngIf="userForm.get('password')?.errors?.['minlength']">Şifre en az 8 karakter olmalı</small>
      </div>

      <button type="button" (click)="submitLogin()">Giriş Yap</button>

      <p class="signup">Hesabin yok mu? <a routerLink="/register">Hesap Oluştur</a></p>
    </form>
  </div>
</div>
