.register-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  filter: brightness(0.6); 
}

.form-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgba(206, 204, 204, 0.887); 
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: transparent;

    h2 {
      text-align: center;
      margin-bottom: 10px;
      color: #011d38;
      font-size: 24px;
    }

    input {
      padding: 10px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.8); 
    }

    button {
      padding: 10px;
      background-color: #011d38;
      color: rgb(227, 214, 214);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
    }

    .signup {
      font-size: 15px;
      text-align: center;

      a {
        color: #011d38;
        text-decoration: none;
      }
    }

    small {
      color: rgb(6, 20, 69);
      font-size: 11px;
      margin-top: -10px;
    }
  }
}
